<div class="guests-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 guests-new-container">
        <h1 class="text-center text-white">Guest reservation<h1>
        <%= form_for @guest_reservation do |f| %>
          <div class="form-group">
            <%= f.label :name_kana, "ヨミガナ", class: 'text-white' %>
            <%= f.text_field :name_kana, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :phone_number, "電話番号", class: 'text-white' %>
            <%= f.text_field :phone_number, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :reservation_date, "予約日", class: 'text-white' %>
            <%= f.date_field :reservation_date, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :reservation_time, "予約時間", class: 'text-white' %>
            <%= f.time_field :reservation_time, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :introducer_id, "ご紹介者様", class: 'text-white' %>
            <%= f.text_field :introducer_id, class: 'form-control' %>
          </div>

          <%= f.submit "登録", class: 'btn-block btn-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
