<div class="treatment_record-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 treatment_record-container">
        <h1 class="text-center text-gray title">詳細ページ</h1>
        <%= link_to "編集", edit_customer_path %>
        <%= link_to "削除", customer_path(id: @customer.id), method: :delete, data:{confirm:"本当にお客様情報を削除しますか？"} %>
        <%= link_to "カルテ一覧", treatment_records_path(customer_id: @customer.id) %>
        <%= link_to "次回予約", new_reservation_path(customer_id: @customer.id) %>
         <div class="text-gray side-line under-line">
         お名前：<%= @customer.name %>
         </div>
         <div class="text-gray side-line under-line">
         ヨミガナ：<%= @customer.name_kana %>
         </div>
         <div class="text-gray side-line under-line">
         生年月日：<%= @customer.birthday %>
         </div>
         <div class="text-gray side-line under-line">
         ご職業：<%= @customer.job %>
         </div>
         <div class="text-gray side-line under-line">
         郵便番号：<%= @customer.postcode %>
         </div>
         <div class="text-gray side-line under-line">
         住所：<%= @customer.street_address %>
         </div>
         <div class="text-gray side-line under-line">
         電話番号：<%= @customer.phone_number %>
         </div>
         <div class="text-gray side-line under-line">
         メールアドレス：<%= @customer.email %>
         </div>
         <div class="text-gray side-line under-line">
         LINE ID：<%= @customer.line_id %>
         </div>
         <div class="text-gray side-line under-line">
         アレルギー：<%= @customer.allergy %>
         </div>
         <div class="text-gray side-line under-line">
         ご紹介者様：<%= @customer.introducer_name %>
         </div>
         <div class="text-gray side-line under-line">
         爪のお悩み・ご要望：<%= @customer.request %>
         </div>
         <div class="text-gray side-line under-line">
         利用規約：<%= @customer.consent %>
         </div>
         <div class="text-gray side-line under-line">
         ネイリストメモ：<%= @customer.nail_technician_note %>
         </div>
      </div>
    </div>
  </div>
</div>
