<div class="reservations-wrapper">
  <div class="container">
    <div class="row">
      <div class="reservations-new-container">
        <div class="reservations-single">
          <h1 class="text-gray text-center title">予約一覧</h1>
            <%= month_calendar(attribute: :reservation_date, events: @reservations) do |reservation_date, reservations| %>
              <% if reservation_date >= Date.today %>
               <%=link_to reservation_date, customers_path %>
              <% else %>
               <%= reservation_date %>
              <% end %>
              <% reservations.each do |reservation| %>
                <div>
                  <%= reservation.reservation_time.hour %>:<%= reservation.reservation_time.min %>
                  <%= link_to reservation.customer.name_kana, reservation_path(id: reservation.id) %>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
