<div class="reservations-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="reservations-index-container">
        <h1 class="text-center text-gray title">次回予約フォーム<h1>
          <h2 class="text-center text-gray subtitle"><%= @customer.name_kana %>様</h2>
          <%= month_calendar(attribute: :reservation_date, events: @reservations) do |reservation_date, reservations| %>
            <% if reservation_date >= Date.today %>
             <%=link_to reservation_date, reservations_new_timeselect_path(reservation_date: reservation_date) %>
            <% else %>
             <%= reservation_date %>
            <% end %>
            <% reservations.each do |reservation| %>
              <div>
                <%= reservation.reservation_time.hour %>:<%= reservation.reservation_time.min %>
                <%= reservation.customer.name_kana %>様
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
