<div class="customers-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 customers-new-container">
        <h1 class="text-center text-white">カルテ</h1>
        <h2 class="text-center text-white"><%= @customer.name_kana %>様</h2>
        <h3 class="text-center text-white"><%= @reservation.reservation_date %></h3>
        <%= form_for @treatment_record do |f| %>

        <%= render "form" %>

          <%= f.hidden_field :customer_id, value: @customer.id %>
          <%= f.hidden_field :reservation_id, value: @reservation.id %>
          <%= f.submit "登録", class: 'btn-block btn-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
