<div class="treatment_record-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 treatment_record-container">
        <h1 class="text-center text-gray title">カルテ</h1>
        <h2 class="text-center text-gray subtitle"><%= @customer.name_kana %>様</h2>
        <h3 class="text-center text-gray"><%= @reservation.reservation_date %></h3>
          <div class="text-gray side-line under-line">支払い金額：
            <%= @treatment_record.amount_of_money %>
          </div>
          <div class="text-gray side-line under-line">施術メニュー：
            <%= @treatment_record.treatment_menu %>
          </div>
          <div class="text-gray side-line under-line">使用ジェル：
            <%= @treatment_record.gel_used %>
          </div>
          <div class="text-gray side-line under-line">ポイントカード残数：
            <%= @treatment_record.remaining_number_of_pointcards %>
          </div>
          <div class="text-gray side-line under-line">ストーン残数：
            <%= @treatment_record.remaining_number_of_stones %>
          </div>
          <div class="text-gray side-line under-line">その他：
            <%= @treatment_record.other %>
          </div>
          <%= link_to "編集", edit_treatment_record_path(id: @treatment_record.id) %>
          <%= link_to "削除", treatment_record_path(id: @treatment_record.id, customer_id: @customer.id), method: :delete, data:{confirm:"本当にカルテを削除しますか？"} %>
          <%= link_to "カルテ一覧", treatment_records_path(customer_id: @customer.id) %>
      </div>
    </div>
  </div>
</div>
